@import "tailwindcss";

.font-geist {
  font-family: var(--font-geist-sans), sans-serif;
}

.font-geist-mono {
  font-family: var(--font-geist-mono), monospace;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

* {
    font-family: var(--font-poppins), sans-serif;
}